section.section.about-storage 
  .container
    .about-storage__head 
      h2.about-storage__title.h2 Промышленная мебель и средства хранения
      .about-storage__desc Верстаки, тележки, шкафы, а также инструментальные ящики, 
        | разработанные с учётом опыта применения в условиях промышленных предприятий, 
        | позволяют организовать рабочее пространство, 
        | <span>повысить эффективность труда и срок службы применяемых инструментов.</span>
    .about-storage__images 
      picture.about-storage__img 
        img(src="./img/about/storage-01.webp", alt="")
      picture.about-storage__img 
        img(src="./img/about/storage-02.webp", alt="")