section.about-company.section 
  .container 
    .about-company__wrapper
      .about-company__head 
        h2.about-company__title.h2 Компания «ТЕГИРА»
        .about-company__desc образованная техническими специалистами  
          | <span>с более чем 10-летним опытом работы в сфере обслуживания</span>
          | болтовых и фланцевых 
          | соединений на промышленных предприятиях России, предлагает оборудование, 
          | выпускаемое под торговой маркой teho:
      .about-company__equipments
        .about-company__equipment
          picture.about-company__equipment-img
            img(src="./img/about/equipment-01.webp", alt="")
          .about-company__equipment-title Гидравлическое оборудование
        .about-company__equipment
          picture.about-company__equipment-img
            img(src="./img/about/equipment-02.webp", alt="")
          .about-company__equipment-title Пневматическое оборудование
        .about-company__equipment
          picture.about-company__equipment-img
            img(src="./img/about/equipment-03.webp", alt="")
          .about-company__equipment-title Электрическое оборудование
