section.about-services.section 
  .container
    .about-services__head 
      h2.about-services__title.h2 Услуги и сервис
      .about-services__desc «ТЕГИРА» оказывает услуги по квалифицированному 
        | обслуживанию болтовых и фланцевых соединений силами специалистов 
        | компании на объекте заказчика. Подробнее о всех услугах компании 
        | можно ознакомиться в разделе Сервис.
    .about-services__list 
      .about-services__item 
        picture.about-services__item-img 
          img(src="./img/about/services-01.webp", alt="")
        .about-services__item-title Технические консультации
      .about-services__item 
        picture.about-services__item-img 
          img(src="./img/about/services-02.webp", alt="")
        .about-services__item-title Подбор инструмента и оборудования
      .about-services__item 
        picture.about-services__item-img 
          img(src="./img/about/services-03.webp", alt="")
        .about-services__item-title Ремонт
      .about-services__item 
        picture.about-services__item-img 
          img(src="./img/about/services-04.webp", alt="")
        .about-services__item-title Обслуживание
      .about-services__item 
        picture.about-services__item-img 
          img(src="./img/about/services-05.webp", alt="")
        .about-services__item-title Калибровка и проверка оборудования
      .about-services__item 
        picture.about-services__item-img 
          img(src="./img/about/services-06.webp", alt="")
        .about-services__item-title Аренда инструментов