section.section.about-device 
  .container
    .about-device__head
      .about-device__title.h2 Компания «ТЕГИРА» также представляет <span>искробезопасный коррозионностойкий</span> промышленный инструмент teho
      .about-device__desc Используются <span>во взрыво- и пожароопасных средах</span>, 
        | где условиями и требованиями безопасности продиктовано использование 
        | специального инструмента, не являющегося источником опасности возгорания 
        | взрыво- и пожароопасных газовоздушных и пылевоздушных смесей.
    picture.about-device__img 
      img(src="./img/about/device.webp", alt="")