section.section.about-production 
  .container
    .about-production__content 
      picture.about-production__img 
        img(src="./img/about/production.webp", alt="")
      .about-production__info
        h2.about-production__title.h2 Продукция
        .about-production__desc Помимо специального оборудования для обслуживания болтовых соединений 
          | компания предлагает своим заказчикам ручной слесарно-монтажный инструмент, включающий широкий ассортимент:
        .about-production__list 
          .about-production__item 
            picture.about-production__item-img 
              img(src="./img/about/production-01.webp", alt="")
            .about-production__item-name Гаечные ключи
          .about-production__item 
            picture.about-production__item-img 
              img(src="./img/about/production-01.webp", alt="")
            .about-production__item-name Гаечные ключи
          .about-production__item 
            picture.about-production__item-img 
              img(src="./img/about/production-01.webp", alt="")
            .about-production__item-name Гаечные ключи
          .about-production__item 
            picture.about-production__item-img 
              img(src="./img/about/production-01.webp", alt="")
            .about-production__item-name Гаечные ключи
          .about-production__item 
            picture.about-production__item-img 
              img(src="./img/about/production-01.webp", alt="")
            .about-production__item-name Гаечные ключи
          .about-production__item 
            picture.about-production__item-img 
              img(src="./img/about/production-01.webp", alt="")
            .about-production__item-name Гаечные ключи
        .about-production__text для промышленных предприятий, мастерских и сервисных компаний, занимающихся обслуживанием производств и проведением ремонтных работ.