section.section.about-techo 
  .container
    .about-techo__inner
      h2.about-techo__title.h2 Оборудование <span>teho</span> представляет собой оптимальное сочетание точности, надёжности, удобства в работе, долговечности и доступной цены.
      .about-techo__desc Предлагаемое оборудование разработано с учётом мирового опыта работ по обслуживанию болтовых соединений и воплощает лучшие конструкторские разработки и современные подходы к обслуживанию ответственного крепежа.