section.catalog 
  .container 
    .catalog-content 
      nav.catalog-nav 
        .catalog-nav__item.is-open
          .catalog-nav__item-head Обслуживание болтовых соединений
          .catalog-nav__item-body 
            .catalog-nav__item-section.is-open 
              .catalog-nav__item-section-head Затяжка моментом
              .catalog-nav__item-section-list 
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
                a(href="#").catalog-nav__item-section-link.is-selected Кассетные моментные гайковерты
                a(href="#").catalog-nav__item-section-link Пневматические моментные гайковерты
                a(href="#").catalog-nav__item-section-link Электрические динамометрические гайковерты
                a(href="#").catalog-nav__item-section-link Гидравлические насосы для моментных гайковертов
            .catalog-nav__item-section 
              .catalog-nav__item-section-head Затяжка натяжением
              .catalog-nav__item-section-list 
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
            .catalog-nav__item-section 
              .catalog-nav__item-section-head Гидравлические цилиндры
              .catalog-nav__item-section-list 
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
            .catalog-nav__item-section 
              .catalog-nav__item-section-head Прочее оборудование
              .catalog-nav__item-section-list 
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
        .catalog-nav__item
          .catalog-nav__item-head Искробезопасный инструмент
          .catalog-nav__item-body
            .catalog-nav__item-section 
              .catalog-nav__item-section-head Затяжка моментом
              .catalog-nav__item-section-list 
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
        .catalog-nav__item
            .catalog-nav__item-head Промышленная мебель
            .catalog-nav__item-body
              .catalog-nav__item-section 
                .catalog-nav__item-section-head Затяжка моментом
                .catalog-nav__item-section-list 
                  a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
        .catalog-nav__item
          .catalog-nav__item-head Слесарно-монтажный инструмент
          .catalog-nav__item-body
            .catalog-nav__item-section 
              .catalog-nav__item-section-head Затяжка моментом
              .catalog-nav__item-section-list 
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
      .product 
        .product__title Серия MLWT
        .product__content 
          .product__gallery 
            a(data-fslightbox="gallery" href="./img/product/product.webp").product__img 
              picture 
                source(srcset="./img/product/product.webp" type="images/webp")
                img(src="./img/product/product.jpg", alt="") 
              .product__img-zoom 
                +svg(24, 24, 'zoom')
            .product__previews 
              .product__previews-item
                img(src="./img/product/preview-01.png", alt="")
              .product__previews-item
                img(src="./img/product/preview-02.png", alt="")
              .product__previews-item
                img(src="./img/product/preview-03.png", alt="")
              .product__previews-item
                img(src="./img/product/preview-04.png", alt="")
              button(type="button").product__previews-show +3
          .product__info 
            .product__info-controls   
              button(type="button").product__info-btn.btn.btn--icon-right.js-modal-open(data-modal="modal-order")
                span Запросить КП
                +svg(40,40, 'arrow')
              button(type="button").product__info-btn.btn.btn--icon-right.btn--border.js-modal-open(data-modal="modal-consultation")
                span Консультация
                +svg(40,40, 'arrow')
            .product__details 
              .product__detail материал: хромованадиевая сталь Premium
              .product__detail кованый, целиком подвергнут закалке и отпуску
              .product__detail обработка поверхности: хромирование в соответствии со стандартом ISO 1456:2009
              .product__detail полированные головки
              .product__detail кольцевая часть с новым профилем LIFE - смещение точки приложения усилия
              .product__detail изготовлен в соответствии со стандартом ISO 7738 (для метрических размеров)
        .product__main 
          .product__main-text
            p Lorem ipsum dolor sit amet consectetur. Tortor cras volutpat volutpat dictum. Nibh morbi a sed cras diam purus non convallis. Viverra ultrices a fermentum erat nulla commodo. Integer porttitor morbi varius amet senectus vitae. Ut tortor morbi nunc tellus morbi egestas sed cursus. Viverra nulla nibh aliquam nunc porta at. Tortor id lectus molestie amet diam fusce nibh congue. Enim purus nullam odio vulputate id eget posuere morbi. Volutpat erat etiam proin id molestie elementum.
            p Viverra ultrices a fermentum erat nulla commodo. Integer porttitor morbi varius amet senectus vitae. Ut tortor morbi nunc tellus morbi egestas sed cursus. Viverra nulla nibh aliquam nunc porta at. Tortor id lectus molestie amet diam fusce nibh congue. 
          a(data-fslightbox="gallery" href="./img/product/product-02.webp").product__main-video
            picture
              source(src="./img/product/product-02.webp" type="images/webp")
              img(src="./img/product/product-02.jpg", alt="")
            span.product__main-video-play
              +svg(33, 33, 'play')
            span.product__main-video-zoom
              +svg(24, 24, 'zoom')
          .product__main-text
            p Lorem ipsum dolor sit amet consectetur. Tortor cras volutpat volutpat dictum. Nibh morbi a sed cras diam purus non convallis. Viverra ultrices a fermentum erat nulla commodo. Integer porttitor morbi varius amet senectus vitae. Ut tortor morbi nunc tellus morbi egestas sed cursus. Viverra nulla nibh aliquam nunc porta at. Tortor id lectus molestie amet diam fusce nibh congue. Enim purus nullam odio vulputate id eget posuere morbi. Volutpat erat etiam proin id molestie elementum.
            p Viverra ultrices a fermentum erat nulla commodo. Integer porttitor morbi varius amet senectus vitae. Ut tortor morbi nunc tellus morbi egestas sed cursus. Viverra nulla nibh aliquam nunc porta at. Tortor id lectus molestie amet diam fusce nibh congue. 
          .product__main-gallery 
            a(data-fslightbox="gallery" href="./img/product/product-03.webp").product__main-img 
              picture
                source(src="./img/product/product-03.webp" type="images/webp")
                img(src="./img/product/product-03.jpg", alt="")
              span.product__main-img-zoom
                +svg(24, 24, 'zoom')
            a(data-fslightbox="gallery" href="./img/product/product-04.webp").product__main-img 
              picture
                source(src="./img/product/product-04.webp" type="images/webp")
                img(src="./img/product/product-04.jpg", alt="")
              span.product__main-img-zoom
                +svg(24, 24, 'zoom')
            a(data-fslightbox="gallery" href="./img/product/product-05.webp").product__main-img 
              picture
                source(src="./img/product/product-05.webp" type="images/webp")
                img(src="./img/product/product-05.jpg", alt="")
              span.product__main-img-zoom
                +svg(24, 24, 'zoom')