.categories {
  overflow: hidden;
  padding: 50px 0;

  &__head {
    margin-bottom: 60px;

    @include media(lg) {
      margin-bottom: 40px;
    }

    @include media(sm) {
      margin-bottom: 20px;
    }
  }

  &__title {
    padding-left: 30px;

    @include media(lg) {
      padding-left: 20px;
    }
  }

  &__list {
    .swiper-wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @include media(sm) {
        flex-direction: row;
        gap: 0;
      } 
    }

    .swiper-pagination {
      display: none;

      @include media(sm) {
        display: flex;
        justify-content: center;
        position: static;
        margin-top: 20px;
        gap: 4px;
      }

      &-bullet {
        width: 25px;
        height: 4px;
        border-radius: 0;
        margin: 0 !important;
        background-color: var(--color-whte);
        opacity: .4;
      }

      &-bullet-active {
        opacity: 1;
      }
    }
  }

  &__item {
    position: relative;
    overflow: hidden;


    @include media(md-plus) {
      &:hover {
        .categories__item-sidebar {
          transform: translateX(0);
        }
  
        .categories__item-info svg {
          transform: rotate(0deg);
        }
      }
    }

    @include media(md) {

      &.is-open {
        .categories__item-sidebar {
          transform: translateX(0);
        }
      }
    }

    &-sidebar {
      max-width: 515px;
      width: 100%;
      position: absolute;
      inset: 0 auto 0 0;
      background-color: cl(blck, .2);
      backdrop-filter: blur(20px);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 50px;
      transform: translateX(-100%);
      transition: transform .35s ease-in-out;
      border-radius: 30px 0 0 30px;

      @include media(md) {
        border-radius: 20px;
        padding: 30px 40px 30px 20px;
        max-width: 100%;
      }

      &-link {
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        opacity: .6;
        transition: .25s ease-in-out;

        @include media(md) {
          font-size: 18px;
        }

        &:not(:last-of-type) {
          margin-bottom: 20px;

          @include media(md) {
            margin-bottom: 10px;
          }
        }

        @media(any-hover: hover) {

          &:hover {
            opacity: 1;

            svg {
              width: 24px;
            }
          }
        }

        svg {
          width: 0;
          transition: width .25s ease-in-out;
          flex-shrink: 0;
        }
      }

      &-close {
        display: none;

        @include media(md) {
          display: block;
          opacity: .5;
          position: absolute;
          top: 14px;
          right: 14px;
        }
      }
    }

    &-img {
      display: block;
      width: 100%;
      height: 800px;
      border-radius: 30px;
      overflow: hidden;
      border: 1px solid rgba(255, 255, 255, .15);

      @include media(lg) {
        height: 640px;
      }

      @include media(md) {
        border-radius: 20px;
        height: 450px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-info {
      position: absolute;
      width: 100%;
      padding: 44px 24px;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      gap: 26px;
      font-size: 36px;
      line-height: 1;
      font-family: var(--font-title);
      color: var(--color-whte);

      @include media(lg) {
        font-size: 24px;
      }

      @include media(sm) {
        padding: 20px;
        font-size: 20px;
      }

      span {
        display: block;
        max-width: 497px;
        width: 100%;

        @include media(sm) {
          max-width: 100%;
        }
      }

      svg {
        transform: rotate(-45deg);
        transition: transform .25s ease-in-out;

        @include media(sm) {
          display: none;
        }
      }
    }
  }
}