section.table
  .container 
    .table__container 
      table 
        tr 
          th(rowspan="2") Модель
          th(colspan="2") Крутящийся момент, H м
          th(rowspan="2") Резьба, М
          th(rowspan="2") Привод
          th(rowspan="2") Масса, кг
          th(colspan="10") Размеры, мм
          th(rowspan="2") Оформить заказ
        tr 

          th Мин.
          th Макс.
          th L1
          th L2
          th H1
          th H2
          th H3
          th H4
          th R
          th R1
          th R2
          th R3
        tr 
          td MLWT - 07
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Заказать →
        tr 
          td MLWT - 07
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Заказать →
        tr 
          td MLWT - 07
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Заказать →
        tr 
          td MLWT - 07
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Заказать →
        tr 
          td MLWT - 07
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Заказать →
        tr 
          td MLWT - 07
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Заказать →
        tr 
          td MLWT - 07
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Заказать →
        tr 
          td MLWT - 07
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Мин.
          td Заказать →