section.similar 
  .container 
    .similar__head 
      h2.similar__title.h2 С этим товаром покупают
      .similar__slider-nav.slider-nav 
        button.slider-nav-prev.js-similar-slider-prev
          +svg(40, 40, 'arrow')
        button.slider-nav-next.js-similar-slider-next
          +svg(40, 40, 'arrow')
    .similar__slider.js-similar-slider 
      .swiper-wrapper
        .catalog-item.swiper-slide 
          .catalog-item__main
            .catalog-item__category Ключи
            a(href="#").catalog-item__img
              picture 
                source(src="./img/catalog/catalog-01.webp" type="images/webp")
                img(src="./img/catalog/catalog-01.png", alt="")
            a.catalog-item__link(href="#")
              span.catalog-item__link-title Подробнее
              span.catalog-item__link-icon
                +svg(40, 40, 'arrow') 
          .catalog-item__name серия MST
        .catalog-item.swiper-slide 
          .catalog-item__main
            .catalog-item__category Ключи
            a(href="#").catalog-item__img
              picture 
                source(src="./img/catalog/catalog-01.webp" type="images/webp")
                img(src="./img/catalog/catalog-01.png", alt="")
            a.catalog-item__link(href="#")
              span.catalog-item__link-title Подробнее
              span.catalog-item__link-icon
                +svg(40, 40, 'arrow') 
          .catalog-item__name серия MST
        .catalog-item.swiper-slide 
          .catalog-item__main
            .catalog-item__category Ключи
            a(href="#").catalog-item__img
              picture 
                source(src="./img/catalog/catalog-01.webp" type="images/webp")
                img(src="./img/catalog/catalog-01.png", alt="")
            a.catalog-item__link(href="#")
              span.catalog-item__link-title Подробнее
              span.catalog-item__link-icon
                +svg(40, 40, 'arrow') 
          .catalog-item__name серия MST
        .catalog-item.swiper-slide 
          .catalog-item__main
            .catalog-item__category Ключи
            a(href="#").catalog-item__img
              picture 
                source(src="./img/catalog/catalog-01.webp" type="images/webp")
                img(src="./img/catalog/catalog-01.png", alt="")
            a.catalog-item__link(href="#")
              span.catalog-item__link-title Подробнее
              span.catalog-item__link-icon
                +svg(40, 40, 'arrow') 
          .catalog-item__name серия MST
        .catalog-item.swiper-slide 
          .catalog-item__main
            .catalog-item__category Ключи
            a(href="#").catalog-item__img
              picture 
                source(src="./img/catalog/catalog-01.webp" type="images/webp")
                img(src="./img/catalog/catalog-01.png", alt="")
            a.catalog-item__link(href="#")
              span.catalog-item__link-title Подробнее
              span.catalog-item__link-icon
                +svg(40, 40, 'arrow') 
          .catalog-item__name серия MST
        .catalog-item.swiper-slide 
          .catalog-item__main
            .catalog-item__category Ключи
            a(href="#").catalog-item__img
              picture 
                source(src="./img/catalog/catalog-01.webp" type="images/webp")
                img(src="./img/catalog/catalog-01.png", alt="")
            a.catalog-item__link(href="#")
              span.catalog-item__link-title Подробнее
              span.catalog-item__link-icon
                +svg(40, 40, 'arrow') 
          .catalog-item__name серия MST