- 
  var fieldsList = [
    {
      id: 1,
      title: 'Добывающая промышленность'
    },
    {
      id: 2,
      title: 'Нефтегазовая отрасль'
    },
    {
      id: 3,
      title: 'Химическая отрасль'
    },
    {
      id: 4,
      title: 'Электроэнергетика'
    },
    {
      id: 5,
      title: 'Машиностроение'
    },
    {
      id: 6,
      title: 'Металлургия'
    },
    {
      id: 7,
      title: 'Транспорт'
    },
    {
      id: 8,
      title: 'Индивидуальные задачи'
    },
  ]

section.fields.section.section-grey 
  .container 
    .fields__head.section__head 
      h2.fields__title.h2 Сферы применения
    .fields__list 
      for item in fieldsList
        a(href="#").fields__item
          picture.fields__item-img 
            source(srcset=`./img/fields/img-0${item.id}.jpg` type="image/jpg")
            source(srcset=`./img/fields/img-0${item.id}.webp` type="image/webp")
            img(src=`./img/fields/img-0${item.id}.jpg` , alt="")
          span.fields__item-title= item.title