section.catalog 
  .container 
    .catalog-content 
      nav.catalog-nav 
        .catalog-nav__item.is-open
          .catalog-nav__item-head Обслуживание болтовых соединений
          .catalog-nav__item-body 
            .catalog-nav__item-section.is-open 
              .catalog-nav__item-section-head Затяжка моментом
              .catalog-nav__item-section-list 
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
                a(href="#").catalog-nav__item-section-link.is-selected Кассетные моментные гайковерты
                a(href="#").catalog-nav__item-section-link Пневматические моментные гайковерты
                a(href="#").catalog-nav__item-section-link Электрические динамометрические гайковерты
                a(href="#").catalog-nav__item-section-link Гидравлические насосы для моментных гайковертов
            .catalog-nav__item-section 
              .catalog-nav__item-section-head Затяжка натяжением
              .catalog-nav__item-section-list 
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
            .catalog-nav__item-section 
              .catalog-nav__item-section-head Гидравлические цилиндры
              .catalog-nav__item-section-list 
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
            .catalog-nav__item-section 
              .catalog-nav__item-section-head Прочее оборудование
              .catalog-nav__item-section-list 
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
        .catalog-nav__item
          .catalog-nav__item-head Искробезопасный инструмент
          .catalog-nav__item-body
            .catalog-nav__item-section 
              .catalog-nav__item-section-head Затяжка моментом
              .catalog-nav__item-section-list 
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
        .catalog-nav__item
            .catalog-nav__item-head Промышленная мебель
            .catalog-nav__item-body
              .catalog-nav__item-section 
                .catalog-nav__item-section-head Затяжка моментом
                .catalog-nav__item-section-list 
                  a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
        .catalog-nav__item
          .catalog-nav__item-head Слесарно-монтажный инструмент
          .catalog-nav__item-body
            .catalog-nav__item-section 
              .catalog-nav__item-section-head Затяжка моментом
              .catalog-nav__item-section-list 
                a(href="#").catalog-nav__item-section-link Торцевые моментные гайковерты
      .catalog-main 
        .catalog-main__title Кассетные моментные гайковерты
        .catalog-main__list 
          .catalog-item 
            .catalog-item__main
              .catalog-item__category Ключи
              a(href="#").catalog-item__img
                picture 
                  source(src="./img/catalog/catalog-01.webp" type="images/webp")
                  img(src="./img/catalog/catalog-01.png", alt="")
              a.catalog-item__link(href="#")
                span.catalog-item__link-title Подробнее
                span.catalog-item__link-icon
                  +svg(40, 40, 'arrow') 
            .catalog-item__name серия MST
          .catalog-item 
            .catalog-item__main
              .catalog-item__category Ключи
              a(href="#").catalog-item__img
                picture 
                  source(src="./img/catalog/catalog-01.webp" type="images/webp")
                  img(src="./img/catalog/catalog-01.png", alt="")
              a.catalog-item__link(href="#")
                span.catalog-item__link-title Подробнее
                span.catalog-item__link-icon
                  +svg(40, 40, 'arrow') 
            .catalog-item__name серия MST
          .catalog-item 
            .catalog-item__main
              .catalog-item__category Ключи
              a(href="#").catalog-item__img
                picture 
                  source(src="./img/catalog/catalog-01.webp" type="images/webp")
                  img(src="./img/catalog/catalog-01.png", alt="")
              a.catalog-item__link(href="#")
                span.catalog-item__link-title Подробнее
                span.catalog-item__link-icon
                  +svg(40, 40, 'arrow') 
            .catalog-item__name серия MST
          .catalog-item 
            .catalog-item__main
              .catalog-item__category Ключи
              a(href="#").catalog-item__img
                picture 
                  source(src="./img/catalog/catalog-01.webp" type="images/webp")
                  img(src="./img/catalog/catalog-01.png", alt="")
              a.catalog-item__link(href="#")
                span.catalog-item__link-title Подробнее
                span.catalog-item__link-icon
                  +svg(40, 40, 'arrow') 
            .catalog-item__name серия MST
          .catalog-item 
            .catalog-item__main
              .catalog-item__category Ключи
              a(href="#").catalog-item__img
                picture 
                  source(src="./img/catalog/catalog-01.webp" type="images/webp")
                  img(src="./img/catalog/catalog-01.png", alt="")
              a.catalog-item__link(href="#")
                span.catalog-item__link-title Подробнее
                span.catalog-item__link-icon
                  +svg(40, 40, 'arrow') 
            .catalog-item__name серия MST
          .catalog-item 
            .catalog-item__main
              .catalog-item__category Ключи
              a(href="#").catalog-item__img
                picture 
                  source(src="./img/catalog/catalog-01.webp" type="images/webp")
                  img(src="./img/catalog/catalog-01.png", alt="")
              a.catalog-item__link(href="#")
                span.catalog-item__link-title Подробнее
                span.catalog-item__link-icon
                  +svg(40, 40, 'arrow') 
            .catalog-item__name серия MST
          .catalog-item 
            .catalog-item__main
              .catalog-item__category Ключи
              a(href="#").catalog-item__img
                picture 
                  source(src="./img/catalog/catalog-01.webp" type="images/webp")
                  img(src="./img/catalog/catalog-01.png", alt="")
              a.catalog-item__link(href="#")
                span.catalog-item__link-title Подробнее
                span.catalog-item__link-icon
                  +svg(40, 40, 'arrow') 
            .catalog-item__name серия MST
          .catalog-item 
            .catalog-item__main
              .catalog-item__category Ключи
              a(href="#").catalog-item__img
                picture 
                  source(src="./img/catalog/catalog-01.webp" type="images/webp")
                  img(src="./img/catalog/catalog-01.png", alt="")
              a.catalog-item__link(href="#")
                span.catalog-item__link-title Подробнее
                span.catalog-item__link-icon
                  +svg(40, 40, 'arrow') 
            .catalog-item__name серия MST
        .catalog-main__pagination.pagination 
              button.pagination__prev
                +svg(8, 15, 'slider-arrow')
              button.pagination__item.is-selected 1
              button.pagination__item 2
              button.pagination__item 3
              button.pagination__item 4
              button.pagination__item ...
              button.pagination__item 23
              button.pagination__next
                +svg(8, 15, 'slider-arrow')