footer.footer 
  .container 
    .footer__wrapper 
      .footer__main 
        a.footer__logo(href="#")
          img(src="./img/logo.svg", alt="")
        .footer__contacts 
          .footer__contacts-item
            .footer__contacts-item-label Связаться с нами:
            .footer__contacts-item-links
              a(href="tel:+78003331316") 8 (800) 333-13-16
              a(href="mailto:info@tegira.ru") info@tegira.ru
          .footer__contacts-item  
            .footer__contacts-item-label Мы в соц. сетях:
            .footer__contacts-socials.socials 
              a(href="").socials-link
                img(src="./img/icons/youtube.svg", alt="") 
              a(href="").socials-link
                img(src="./img/icons/tg.svg", alt="") 
          
      .footer__catalog 
        span Каталог
        a(href="#") Обслуживание болтовых соединений
        a(href="#") Искробезопасный инструмент
        a(href="#") Промышленная мебель
        a(href="#") Слесарно-монтажный инструмент
      .footer__nav
        span О компании
        ul
          li         
            a(href="#") О нас
          li
            a(href="#") Новости
          li
            a(href="#") Сервис
          li
            a(href="#") Контакты
          li
            a(href="#") Документы
 
      .footer__bottom 
        .footer__company © 2022-2024 Tegira
        .footer__documents
          a(href="").footer__policy Политика конфиденциальности
          a(href="").footer__agreement Пользовательское соглашение 
    