doctype html
html(lang="en")
  include includes/head
  +head('Статья')
  body
    include mixins/_mixins
    include components/header
    main
      .breadcrumbs
        .container.container--pad 
          ul.breadcrumbs__list 
            li.breadcrumbs__item 
              a(href="#") Главная 
            li.breadcrumbs__item 
              a(href="#") Новости
      .page
        .article 
          .container.container--pad
            .article__wrapper 
              .article__sidebar 
                .article__share 
                  .article__share-title Поделиться:
                  .article__share-socials 
                    .socials-item 
                      +svg(16, 16, 'facebook')
                    .socials-item 
                      +svg(16, 16, 'instagram')
                    .socials-item 
                      +svg(16, 16, 'telegram-fill')
                nav.article__nav 
                  .article__nav-item 
                    .article__nav-item-title Предыдущая статья:
                    a.article__nav-item-link(href="") 
                      +svg(16, 16, 'link-arrow-prev')
                      | Lorem ipsum dolor sit amet consectetur. Facilisi tempor amet.
                  .article__nav-item 
                    .article__nav-item-title Следующая статья:
                    a.article__nav-item-link(href="") 
                      +svg(16, 16, 'link-arrow-next')
                      | Lorem ipsum dolor sit amet consectetur. Facilisi tempor amet.
              .article__main 
                .article__head
                  h1.article__title Lorem ipsum dolor sit amet consectetur. Facilisi tempor amet.
                  .article__date 12.08.24
                h2.article__subtitle Lorem ipsum dolor sit amet consectetur.
                .article__desc 
                  p Lorem ipsum dolor sit amet consectetur. Tortor cras volutpat volutpat dictum. Nibh morbi a sed cras diam purus non convallis. Viverra ultrices a fermentum erat nulla commodo. Integer porttitor morbi varius amet senectus vitae. Ut tortor morbi nunc tellus morbi egestas sed cursus. Viverra nulla nibh aliquam nunc porta at. Tortor id lectus molestie amet diam fusce nibh congue. Enim purus nullam odio vulputate id eget posuere morbi. Volutpat erat etiam proin id molestie elementum.
                  p Viverra ultrices a fermentum erat nulla commodo. Integer porttitor morbi varius amet senectus vitae. Ut tortor morbi nunc tellus morbi egestas sed cursus. Viverra nulla nibh aliquam nunc porta at. Tortor id lectus molestie amet diam fusce nibh congue. 
                picture.article__img 
                  img(src="./img/article/article-01.webp", alt="")
                h2.article__subtitle Lorem ipsum dolor sit amet consectetur.
                .article__desc 
                  p Lorem ipsum dolor sit amet consectetur. Tortor cras volutpat volutpat dictum. Nibh morbi a sed cras diam purus non convallis. Viverra ultrices a fermentum erat nulla commodo. Integer porttitor morbi varius amet senectus vitae. Ut tortor morbi nunc tellus morbi egestas sed cursus. Viverra nulla nibh aliquam nunc porta at. Tortor id lectus molestie amet diam fusce nibh congue. Enim purus nullam odio vulputate id eget posuere morbi. Volutpat erat etiam proin id molestie elementum.
                  p Viverra ultrices a fermentum erat nulla commodo. Integer porttitor morbi varius amet senectus vitae. Ut tortor morbi nunc tellus morbi egestas sed cursus. Viverra nulla nibh aliquam nunc porta at. Tortor id lectus molestie amet diam fusce nibh congue. 
                h2.article__subtitle Lorem ipsum dolor sit amet consectetur.
                ul.article__list 
                  li Lorem ipsum dolor sit amet consectetur. Volutpat erat etiam proin id molestie elementum.
                  li Tortor cras volutpat volutpat dictum. Volutpat erat etiam proin id molestie elementum.  tellus morbi egestas sed cursus.
                  li Viverra ultrices a fermentum erat nulla commodo. Integer porttitor morbi varius amet senectus vitae. Ut tortor morbi nunc tellus morbi egestas sed cursus. Viverra nulla nibh aliquam nunc porta at. Tortor id lectus molestie amet diam fusce nibh congue. 
                  li Viverra ultrices a fermentum erat nulla commodo. Volutpat erat etiam proin id molestie elementum.
                  li Integer porttitor morbi varius amet senectus vitae. Ut tortor morbi nunc 
                .article__images-row 
                  picture.article__img 
                    img(src="./img/article/article-02.webp", alt="")
                  picture.article__img 
                    img(src="./img/article/article-03.webp", alt="")
                .article__desc 
                  p Lorem ipsum dolor sit amet consectetur. Tortor cras volutpat volutpat dictum. Nibh morbi a sed cras diam purus non convallis. Viverra ultrices a fermentum erat nulla commodo. Integer porttitor morbi varius amet senectus vitae. Ut tortor morbi nunc tellus morbi egestas sed cursus. Viverra nulla nibh aliquam nunc porta at. Tortor id lectus molestie amet diam fusce nibh congue. Enim purus nullam odio vulputate id eget posuere morbi. Volutpat erat etiam proin id molestie elementum.
                  p Viverra ultrices a fermentum erat nulla commodo. Integer porttitor morbi varius amet senectus vitae. Ut tortor morbi nunc tellus morbi egestas sed cursus. Viverra nulla nibh aliquam nunc porta at. Tortor id lectus molestie amet diam fusce nibh congue. 
                section.table
                  .table__container 
                    table 
                      tr 
                        th(rowspan="2") Модель
                        th(colspan="2") Крутящийся момент, H м
                        th(rowspan="2") Резьба, М
                        th(rowspan="2") Привод
                        th(rowspan="2") Масса, кг
                        th(colspan="10") Размеры, мм
                        th(rowspan="2") Оформить заказ
                      tr 

                        th Мин.
                        th Макс.
                        th L1
                        th L2
                        th H1
                        th H2
                        th H3
                        th H4
                        th R
                        th R1
                        th R2
                        th R3
                      tr 
                        td MLWT - 07
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td 
                          a(href="#") Заказать → 
                      tr 
                        td MLWT - 07
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td 
                          a(href="#") Заказать → 
                      tr 
                        td MLWT - 07
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td 
                          a(href="#") Заказать → 
                      tr 
                        td MLWT - 07
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td 
                          a(href="#") Заказать → 
                      tr 
                        td MLWT - 07
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td 
                          a(href="#") Заказать → 
                      tr 
                        td MLWT - 07
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td 
                          a(href="#") Заказать → 
                      tr 
                        td MLWT - 07
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td Мин.
                        td 
                          a(href="#") Заказать → 
        include blocks/latest-news/index
    include components/footer
    include includes/scripts