doctype html
html(lang="en")
  include includes/head
  +head('Главная')
  body
    include mixins/_mixins
    include components/header
    main
      .container.container--sm 
        ul 
          li 
            a(href="home.html") Главная
          li 
            a(href="about.html") О нас
          li 
            a(href="catalog.html") Каталог
          li 
            a(href="product.html") Карточка товара
          li 
            a(href="blog.html") Новости
          li 
            a(href="article.html") Статья
          li 
            a(href="contacts.html") Контакты

    include components/footer
    include includes/scripts