section.our-contacts 
  .container 
    .our-contacts__head
      h1.our-contacts__title.h2 Наши контакты
      .our-contacts__desc Мы на связи и готовы <br> к сотрудничеству
    .our-contacts__grid 
      .our-contacts__item 
        .our-contacts__item-label Корпотативная почта:
        .our-contacts__item-desc
          a(href="mailto:info@tegira.ru") info@tegira.ru 
      .our-contacts__item 
        .our-contacts__item-label Телефон для связи:
        .our-contacts__item-desc
          a(href="tel:8 (800) 333-13-16") 8 (800) 333-13-16
      .our-contacts__item 
        .our-contacts__item-label Адрес:
        .our-contacts__item-desc
          p г. Санкт-Петербург, пр. Юрия Гагарина, д.2 лит. А, пом. 11-Н, ком. 28
      .our-contacts__item 
        .our-contacts__item-label Мессенджеры для связи:
        .our-contacts__item-desc
          .socials 
            a.socials__item(href="#")
              +svg(20, 20, 'telegram-fill') 
            a.socials__item(href="#")
              +svg(20, 20, 'whatsapp-fill') 
      .our-contacts__item 
        .our-contacts__item-label Реквизиты:
        .our-contacts__item-desc
          p ООО «Тегира» 
          p ИНН: 7810951416, 
          p КПП 781001001, 196105 
          p г. Санкт-Петербург, вн. тер. г. муниципальный округ Гагаринское, пр-кт Юрия Гагарина, д.2 Литера А, помещ. 11-Н, ком. 28, 
          p Расчётный счёт 40702810003000091344, Ф-Л "СЕВЕРНАЯ СТОЛИЦА" АО "РАЙФФАЙЗЕНБАНК" г. Санкт-Петербург, 
          p БИК 044030723
    .our-contacts__map.js-map
      