section.section.section-grey.help
  .container 
    .help__inner
      h2.help__title.h2 Мы можем вывести ваш бизнес на новый уровень
      .help__info 
        .help__desc Компания «ТЕГИРА», образованная техническими специалистами с более чем 10-летним опытом работы в сфере обслуживания болтовых и фланцевых соединений на промышленных предприятиях России, предлагает гидравлическое, пневматическое и электрическое оборудование, выпускаемое под торговой маркой teho.
        a.help__link.btn.btn--outline.btn--icon-right Подробнее о нас
          +svg(40, 40, 'arrow')
