section.categories.section.section-grey
  .container 
    .categories__head 
      h2.categories__title.h2 Категории товаров
    .categories__list.js-categories-slider 
      .swiper-wrapper
        .categories__item.swiper-slide.js-categories-block 
          .categories__item-sidebar 
            button.categories__item-sidebar-close.js-categories-close
              +svg(24, 24, 'cross')
            a.categories__item-sidebar-link(href="#") 
              +svg(24, 24, 'arrow-right')
              span Гидравлический инструмент
            a.categories__item-sidebar-link(href="#") 
              +svg(24, 24, 'arrow-right')
              span Искобезопасный инструмент
            a.categories__item-sidebar-link(href="#") 
              +svg(24, 24, 'arrow-right')
              span Другой инструмент
            a.categories__item-sidebar-link(href="#") 
              +svg(24, 24, 'arrow-right')
              span Еще инструмент
            a.categories__item-sidebar-link(href="#") 
              +svg(24, 24, 'arrow-right')
              span Искобезопасный инструмент
          video.categories__item-video(src="./files/video-01.mp4" poster="./img/categories/img-01.webp" autoplay playsinline loop) 
          picture.categories__item-img
            source(srcset="./img/categories/img-01.webp" type="webp")
            source(srcset="./img/categories/img-01.jpg" type="jpg")
            img(src="./img/categories/img-01.webp", alt="") 
          .categories__item-info 
            span Обслуживание <br> болтовых соединений
            +svg(24, 24, 'arrow-right')
        .categories__item.swiper-slide.js-categories-block 
          .categories__item-sidebar 
            button.categories__item-sidebar-close.js-categories-close
              +svg(24, 24, 'cross')
            a.categories__item-sidebar-link(href="#") 
              +svg(24, 24, 'arrow-right')
              span Гидравлический инструмент
            a.categories__item-sidebar-link(href="#") 
              +svg(24, 24, 'arrow-right')
              span Искобезопасный инструмент
            a.categories__item-sidebar-link(href="#") 
              +svg(24, 24, 'arrow-right')
              span Другой инструмент
            a.categories__item-sidebar-link(href="#") 
              +svg(24, 24, 'arrow-right')
              span Еще инструмент
            a.categories__item-sidebar-link(href="#") 
              +svg(24, 24, 'arrow-right')
              span Искобезопасный инструмент
          video.categories__item-video(src="./files/video-01.mp4" poster="./img/categories/img-02.webp" autoplay playsinline loop)
          picture.categories__item-img
            source(srcset="./img/categories/img-02.webp" type="webp")
            source(srcset="./img/categories/img-02.jpg" type="jpg")
            img(src="./img/categories/img-02.webp", alt="") 
          .categories__item-info 
            span Искробезопасный <br> инструмент
            +svg(24, 24, 'arrow-right')
        .categories__item.swiper-slide.js-categories-block
          .categories__item-sidebar 
            button.categories__item-sidebar-close.js-categories-close
              +svg(24, 24, 'cross')
            a.categories__item-sidebar-link(href="#") 
              +svg(24, 24, 'arrow-right')
              span Гидравлический инструмент
            a.categories__item-sidebar-link(href="#") 
              +svg(24, 24, 'arrow-right')
              span Искобезопасный инструмент
            a.categories__item-sidebar-link(href="#") 
              +svg(24, 24, 'arrow-right')
              span Другой инструмент
            a.categories__item-sidebar-link(href="#") 
              +svg(24, 24, 'arrow-right')
              span Еще инструмент
            a.categories__item-sidebar-link(href="#") 
              +svg(24, 24, 'arrow-right')
              span Искобезопасный инструмент
          video.categories__item-video(src="./files/video-02.mp4" poster="./img/categories/img-03.webp" autoplay playsinline loop)
          picture.categories__item-img
            source(srcset="./img/categories/img-03.webp" type="webp")
            source(srcset="./img/categories/img-03.jpg" type="jpg")
            img(src="./img/categories/img-03.webp", alt="") 
          .categories__item-info 
            span Промышленная <br> мебель
            +svg(24, 24, 'arrow-right')
        .categories__item.swiper-slide.js-categories-block
          .categories__item-sidebar 
            button.categories__item-sidebar-close.js-categories-close
              +svg(24, 24, 'cross')
            a.categories__item-sidebar-link(href="#") 
              +svg(24, 24, 'arrow-right')
              span Гидравлический инструмент
            a.categories__item-sidebar-link(href="#") 
              +svg(24, 24, 'arrow-right')
              span Искобезопасный инструмент
            a.categories__item-sidebar-link(href="#") 
              +svg(24, 24, 'arrow-right')
              span Другой инструмент
            a.categories__item-sidebar-link(href="#") 
              +svg(24, 24, 'arrow-right')
              span Еще инструмент
            a.categories__item-sidebar-link(href="#") 
              +svg(24, 24, 'arrow-right')
              span Искобезопасный инструмент
          video.categories__item-video(src="./files/video-02.mp4" poster="./img/categories/img-04.webp" autoplay playsinline loop)
          picture.categories__item-img
            source(srcset="./img/categories/img-04.webp" type="webp")
            source(srcset="./img/categories/img-04.jpg" type="jpg")
            img(src="./img/categories/img-04.webp", alt="") 
          .categories__item-info 
            span Слесарно-монтажный <br> инструмент
            +svg(24, 24, 'arrow-right')
      .swiper-pagination