section.section.latest-news 
  .container.container--pad 
    h2.latest-news__title.h2 Последние новости
    .latest-news__list 
      .blog-item 
        a(href="#").blog-item__img 
          img(src="./img/blog/img-01.webp", alt="")
        .blog-item__icon 
          +svg(30, 25, 'arrow-right')
        a(href="#").blog-item__title Lorem ipsum dolor sit amet consectetur. Facilisi tempor amet.
        .blog-item__desc Diam dui urna tortor leo leo amet at amet. Volutpat elit fringilla vestibulum nibh diam volutpat. 
        .blog-item__date 12.12.2012
      .blog-item 
        a(href="#").blog-item__img 
          img(src="./img/blog/img-02.webp", alt="")
        .blog-item__icon 
          +svg(30, 25, 'arrow-right')
        a(href="").blog-item__title Заголовок в одну строку
        .blog-item__desc Diam dui urna tortor leo leo amet at amet. Volutpat elit fringilla vestibulum nibh diam volutpat. 
        .blog-item__date 12.12.2012
      .blog-item 
        a(href="#").blog-item__img 
          img(src="./img/blog/img-03.webp", alt="")
        .blog-item__icon 
          +svg(30, 25, 'arrow-right')
        a(href="#").blog-item__title Очень большой заголовок в одну, две или даже три строки. Lorem ipsum dolor sit amet consectetur.
        .blog-item__desc Diam dui urna tortor leo leo amet at amet. Volutpat elit fringilla vestibulum nibh diam volutpat. 
        .blog-item__date 12.12.2012